*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
    background-color: #4e4d4e;
}

.logo{
    height: 100px;
    width: 499px;
    font-family: Tahoma;
    font-weight: 300;
    font-size: 26px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.img{
    justify-content: center;
    display: flex;
}

.title{
    color: white;
    height: auto;
    width: 400px;

}
.links{
    display: flex;
    gap: 100px;
    
}

.links a{
    text-decoration: none;
    color: white;
    font-family: serif;
    font-size: 24px;  
}


.main{
    display: flex;
    height: 900px;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;      
}

 .content{
    background-color: white;
    height:350px;
    width: 350px;
    border-radius: 350%;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
